*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.App {
  text-align: center;
  display : flex;

  padding : 40px;

  justify-content: center;
  height: 100vh;

}

.shopping__list{
  width: 35%;
  margin-right: 30px;
  text-align: left;
}


h2{
  font-weight: 400;
}


.add__item{
  width: 35%;
  text-align: left;
}

.add__item p{
  margin-top: 15px;
  margin-bottom: 5px;
}

/* Form elements */

input[type = text]{
  padding : 10px;
  width: 100%;
}

textarea{
  padding: 10px;
  width: 100%;
}


input[type = number]{
  padding : 5px;
}

hr {
  margin : 10px 0px;
  opacity: 0.2;
}

.listHeader{
  display: flex;
  align-items: center;
}


/*Buttons */

.btn-clear-all{
  background-color:  #009688;
  border: 1px  #009688 solid;
  border-radius: 5px;
  padding: 5px;
  margin-left: 10px;
}

.display__item{
  border : 2px #009688 solid;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.display__item--name{
  color: white;
  display: block;
  padding: 20px;
  padding-left: 10px;
  background-color: #009688;
}

.display__item--desc{
  color: black;
  display: flex;
  background-color: white;
}

.display__item--remove{
  color: white;
  display: block;
  padding: 10px;
  background-color: #B2DFDB;
}

.add{
  background-color:  #009688;
  border: 1px  #009688 solid;
  border-radius: 5px;
  padding: 5px;
}

.cancel{
  border: 1px black solid;
  background-color: white;
  border-radius: 5px;
  margin-left: 10px;
  padding: 5px;
}

.btn--remove{
  background-color: white;
  border : 1px solid;
  border-radius: 2px;
  padding: 5px;
}





